/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #9F9F9F;
}
/* common styles */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 870px;
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 5px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-bottom: 40px;
}
hr{
    border: 1px solid #D1D1D1;
}
/* header style */
.header{
    width: 100%;
    height: 95px;
    background-color: #562EFF;
    margin-bottom: 36px;
    display: flex;
    justify-content: center;
}
.header-container{
    width: 870px;
    display: flex;
    justify-content: space-between;
}
.logo-info{
    display: flex;
    align-items: center;
}
.logo-info .logo img{
    width: 41px;
    height: 51px;
}
.logo-name{
    color: white;
    font-size: 24px;
    margin-left: 15px;
}
.nav-bar, .nav-list{
    display: flex;
    align-items: center;
}
.nav-list li{
    list-style: none;
}
.nav-list li a{
    text-decoration: none;
    color: white;
    margin-right: 36px;
}

/* top player styles */
.top-players{
    margin-bottom: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.top-players .players .player img{
    width: 56px;
    height: 56px;
}
.player-name{
    font-size: 18px;
    margin-left: 16px;
}
/* top blogs start */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blogs .blog .thumbnil img{
    width: 177px;
    height: 117px;
}
.blog-details{
    margin-left: 16px;
}
.author-name{
    color: #9F9F9F;
    font-size: 16px;
}
.author-name a{
    text-decoration: none;
    font-size: 16px;
}
/* latest course styles */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}
.courses .course .course-banner img{
    width: 224px;
    height: 104px;
}

.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.course-info{
    display: flex;
    justify-content: space-between;
}
.course-duration{
    width: 95px;
    height: 30px;
    background-color: #FFE4E8;
    color: #FF4A60;
    border-radius: 15px;
}
/* meadia queries */
/* media query for mobile devices */
@media only screen and (max-width:688px){
    .container{
        width: 85%;
    }
    .players, .blogs, .courses{
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    .player{
        flex-direction: column;

    }
    .blog{
        flex-direction: column;
        align-items: center;
    } 
}
/* media query for tablet divices */
@media only screen and  (min-width:688px) and (max-width:992px){
    .container{
        width: 80%;
    }
    .top-players{
        display: flex;
        justify-content: center;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .blogs{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .courses{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .course{
        display: flex;
        align-items: center;
    }
    .course-banner, .course-details{
        padding: 30px;
        }
}